.colors
{
    /*3-700*/
    color: #0B090A;
    color: #161A1D;
    color: #660708;
    color: #A4161A;
    color: #BA181B;
    color: #E5383B;
    color: #B1A7A6;
    color: #D3D3D3;
    color: #F5F3F4;
    color: #FFFFFF;
    color: #212529; /*bootstrap dark*/
}
body {
    font-family: "Jura", serif;
    margin: 0;
    padding: 0;
    background-color: #161A1D;
    color: #F5F3F4;
    text-align: center;
}
.container
{
    margin-top: 9vh;
    width: 95%;
    height: 200%;
}
@media only screen and (max-width: 350px) 
{
    .container
    {
        margin-top: 13vh;
    }
}
.btnColor
{
    background-color: #660708;
    border-color: #660708;
    color: #F5F3F4;
    font-weight: 500;
}
.navButton
{
    color: #660708;
}
.btnColor:hover
{
    background-color: #660708;
    border-color: #660708;
}

.nameColor
{
    color: #A4161A;
    font-weight: bolder;
    font-size: 30px;
}
.nameColor:hover
{
    color: #660708;
}
.navColor
{
    color: #BA181B;
}
.navColor:hover
{
    color: #660708;
}
.row
{
    margin: auto;
    padding-top: 2%;
}
.col
{
    margin: auto;
    text-align: center;
}
.slogen
{
    font-size: 22px;
    font-weight: 300;
}
.card
{
    background-color: #B1A7A6;
    min-width: 15em;
    max-width: 20em;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
}

.cardImgs
{
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 1%;
}
.card-text
{
    font-weight: 600;
}
.card-body h4
{
    font-weight: 700;
}
.card-body .price
{
    font-size: 125%;
    font-weight: 700;
}
.card-body .btn
{
    width: 50%;
    height: auto;
    font-size: large;
}

#mainImg
{
    height: auto;
    width: 100%;
    border-radius: 12px;
}
#content 
{
    text-align: center;
}
.frontimg
{
    position: relative;
}
#frontTitle
{
    position: absolute;
    top: 25%;
    left: 27%;
    font-size: 5rem;
    text-shadow: 1 1 30 #00072d;
    font-weight: bold;
}
.buttonColor
{
    font-size: 100%;
    background-color: #660708;
    border-color: #660708;
    color: #F5F3F4;
    margin-bottom: 2rem;
    margin-left: 1%;
    width: 12rem;
}
.buttonColor:active
{
    background-color: #E5383B;
    border-color: #E5383B;
}
.buttonColor:hover
{
    background-color: #E5383B;
    border-color: #E5383B;
}

.toTheRight
{
    text-align: right;
    margin-left: auto;
    margin-right: 2%;
}
.logout
{
    border-radius: 12px;

}
.logout:hover
{
    background-color: red;
}
ul.dropdown-menu li
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
}
ul.dropdown-menu li a
{
    text-align: center;
    border-radius: 12px;
}
ul.dropdown-menu li input
{
    text-align: center;
    border-radius: 12px;
}
ul.dropdown-menu li div
{
    text-align: center;
    border-radius: 12px;
    padding-top: -2%;
}
.loginLabel
{
    color: #B1A7A6;
    font-weight: 600;
    font-size: medium;
}
.loginField
{
    background: #212529;
    color: #D3D3D3;
}
#userDropdownStandard, #userDropdownOffCanvas
{
    width: 250px;
}
#userDropdownOffCanvas
{
    margin: auto;
}
.loggedin
{
    color:#B1A7A6;
    font-weight: 600;
    font-size: medium;
    gap: 10px;
    padding: 8px;
    padding-top: 0px;
}
.loggedin:hover
{
    background-color: #343a40;
    color: #F5F3F4;
}
.loggedin input[type="checkbox"] {
    pointer-events: auto;
} 
.offcanvas.offcanvas-end {
    width: 40%;
    max-width: 400px; 
    min-width: 280px;
}
.loginButton
{
    color: #E5383B;
    font-weight: 700;
    font-size: large;
}
.loginButton:hover
{
    background-color: #161A1D;
    color: #BA181B;
}
.checkBox
{
    accent-color: #660708;
}
.reg a:hover
{
    background-color: #343a40;
    color: #F5F3F4;
}
.reg
{
    color: #B1A7A6;
    font-weight: 600;
    font-size: small;
    text-align: right;
    margin: -2%;
    padding: 0%;
    margin-bottom: -8%;
}

/*footer css*/
footer
{
    margin-top: auto;
    background-color: #212529;
    color: #A4161A;
    padding: 3%;
    position: sticky;
    top:100vh
}
h2
{
    color: #F5F3F4;
}
h5
{
    font-size: 130%;
}
#newClassForm
{
    text-align: center;
}
#newClassForm table
{
    margin-left: auto;
    margin-right: auto;
}
#stuff form table input
{
    margin-left: auto;
}
.contact
{
    color: #BA181B;
    font-size: 100%;
    padding: 0;
}
.contact:hover
{
    color: #BA181B;
}

.loginLogout:hover
{
    cursor: pointer;
}

.newticket
{
    margin-left: auto;
    margin-right: auto;
}

/*carousel*/

#carousel
{
    height: 20rem;
    width: auto;
    margin-bottom: 15%;
}
@media only screen and (max-width: 775px) 
{
 #carousel, #carouselT, #carouselC
 {
    margin-bottom: 25%;
 }
}
.carouselCard
{
    margin: auto;
    width: 42%;
    min-width: 16rem;
    height: auto;
}

.openTitle h2
{
    color: #A4161A;
    font-weight: 700;
    font-size: 2rem;
}
.openTitle
{
    margin-top: 0%;
}
.openTime
{
    margin-top: 2%;
    font-size: 1.4rem;
}
.openTime table
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.noWrap
{
    white-space: nowrap;
}
.time
{
    text-align: end;
}
.address h2
{
    color: #A4161A;
    font-weight: 700;
    font-size: 2rem;
}
.contact
{
    margin-top: 2%;
}
.contactDetails
{
    margin-top: 3%;
    font-size: 1.4rem;
    text-align: start;
}
.contactDetails a
{
    color:white;
}
.contact h2
{
    color: #A4161A;
    font-weight: 700;
    font-size: 2rem;
}
.social
{
    text-decoration: none;
}
.social:hover
{
    color: #BA181B;
}
.aboutTitle h1
{
    color: #A4161A;
    font-weight: 700;
    font-size: 3rem;
}
